.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.counterWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  transition-timing-function: ease;
}

.expenditureCount {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.expenditureCount span {
  color: var(--off-white);
  font-size: 24px;
  padding: 16px;
}

@media (min-width: 575.98px) {
}

@media (min-width: 767.98px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    gap: 24px;
  }
  .content > * {
    height: inherit;
    flex-grow: 1;
  }
  .countUp,
  .monthlyPercentage {
    width: calc(25% - 12px);
  }
  .categoryBarChart,
  .expenseLineChart {
    width: calc(75% - 12px);
  }
  .expenditureCount {
    flex-direction: column;
    justify-content: center;
  }
  .expenditureCount span {
    font-size: 32px;
  }
}

@media (min-width: 991.98px) {
}

@media (min-width: 1199.98px) {
}

@media (min-width: 1399.98px) {
}
