:root {
  --off-white: #f9fafb;
  --dark-green: #294B29;
  --olive: #789461;
  --fade-green: #50623a;
  --light-green: #DBE7C9;
  --dark: #252525;
  --dark-fade-green: #183D3D;
  --inactive: #757576;

  --border-radius-8: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--off-white);
}

/* body {
} */

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --dark: #040d12;
    --dark-green: #183d3d;
    --olive: #5c8374;
    --pale-green: #93b1a6;
  }

  html {
    color-scheme: dark;
  }
} */

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 64px;
  aspect-ratio: 1;
  display: grid;
  border: 6px solid #0000;
  border-radius: 50%;
  border-right-color: var(--olive);
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

/* Loading Page */
.loadingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  min-height: 100vh;
  font-size: 24px;
}

.loadingPage h1 {
  animation: changeColor infinite 3s ease-in-out;
}

@keyframes changeColor {
  0% {
    color: var(--olive);
  }
  50% {
    color: var(--dark-green);
  }
  100% {
    color: var(--olive);
  }
}

