:root {
  --off-white: #f9fafb;
  --dark-green: #294B29;
  --olive: #789461;
  --fade-green: #50623a;
  --light-green: #DBE7C9;
  --dark: #252525;
  --dark-fade-green: #183D3D;
  --inactive: #757576;

  --border-radius-8: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--off-white);
}

/* body {
} */

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --dark: #040d12;
    --dark-green: #183d3d;
    --olive: #5c8374;
    --pale-green: #93b1a6;
  }

  html {
    color-scheme: dark;
  }
} */



