@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --off-white: #f9fafb;
  --dark-green: #294b29;
  --olive: #789461;
  --fade-green: #50623a;
  --light-green: #dbe7c9;
  --dark: #252525;
  --dark-fade-green: #183d3d;
  --inactive: #757576;
  --pale-green: #93b1a6;
  --bright-red: #eb4848;
  --dark-red: #6f0000;

  /* The color palette for the logo */
  --col-1: #272f51;
  --col-2: #06c8a1;
  --col-3: #d0fff6;
  --col-4: #384373;
  --col-5: #161b2f;
  --col-6: #09f8c8;

  /* The border radii */
  --border-radius-8: 8px;

  /* The height of the navbar */
  --navbar-height: 72px;
  --navbar-margin: 0px 0px var(--navbar-height) 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--off-white);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  gap: 24px;
  min-height: 100vh;
  margin: var(--navbar-margin);
}

button,
.redirect-links {
  width: 100%;
  padding: 16px 0px;
  text-align: center;
  border-radius: var(--border-radius-8);
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: solid 1px #ddd;
  transition: all 300ms ease;
  filter: drop-shadow(0px 0px 3px var(--light-green));
}

.clickable {
  transition: all 300ms ease;
  padding: 8px 0px;
  border-radius: 8px;
}

button:active,
.redirect-links:active,
.clickable:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
button:disabled {
  color: var(--off-white);
  background-color: var(--dark);
  filter: drop-shadow(0px 0px 3px var(--dark));
}

.redirect-links {
  background-color: var(--dark-fade-green);
  color: var(--col-3);
}

/* Spinner */
.spinner {
  /* color: black; */
  animation: rotateSpinner 2s infinite linear;
}

@keyframes rotateSpinner {
  100% {
    transform: rotate(1turn);
  }
}

/* Custom form */
.customForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customForm label {
  position: relative;
}
.customForm input,
.customForm select {
  width: 100%;
  margin: 8px 0px;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: var(--border-radius-8);
  border: solid 1px #ddd;
  line-height: 30px;
}
.customForm select {
  text-transform: capitalize;
}
.customForm input::placeholder {
  opacity: 0;
}
.customForm span {
  position: absolute;
  top: 0;
  left: 24px;
  color: var(--inactive);
  text-transform: capitalize;
  padding: 0px 8px;
  transform: translateY(32px);
  font-size: 16px;
  transition-duration: 300ms;
  user-select: none;
}

.customForm button:disabled {
  color: var(--off-white);
  background-color: var(--dark);
  filter: drop-shadow(0px 0px 3px var(--dark));
}

/* Animation */
.customForm label:focus-within > span,
.customForm input:not(:placeholder-shown) + span {
  color: var(--olive);
  transform: translateY(0px);
  z-index: 1;
  background-color: var(--off-white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --dark: #040d12;
    --dark-green: #183d3d;
    --olive: #5c8374;
    --pale-green: #93b1a6;
  }

  html {
    color-scheme: dark;
  }
} */

@media (min-width: 575.98px) {
}

@media (min-width: 767.98px) {
}

@media (min-width: 991.98px) {
  :root {
    --navbar-margin: 0px 0px 0px var(--navbar-height);
  }
  .customForm {
    max-width: 500px;
  }
  .page {
    align-items: center;
  }
}

@media (min-width: 1199.98px) {
}

@media (min-width: 1399.98px) {
}
