.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  min-height: 100vh;
}

.navbar {
  background-color: var(--dark-green);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 24px;
}

.navbar .roundIcon {
  font-size: 40px;
}

.userHeading {
  display: flex;
  width: 100%;
  font-size: 48px;
  flex-direction: column;
  align-items: left;
}

.userHeading div {
  color: var(--off-white);
}

.userHeading h3 {
  font-weight: bold;
  color: var(--olive);
}

.graphBox {
  min-width: 90vw;
  min-height: 200px;
  background-color: white;
}
