.main {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  z-index: 9;
  background-color: var(--dark-green);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 24px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28)
}

.bigIcon {
  font-size: 40px !important;
}

.link:is(:hover, :active) {
  color: var(--light-green);
  filter: drop-shadow(0px 0px 1px var(--off-white));
  transform: scale(1.25);
}


.userHeading {
  display: flex;
  width: 100%;
  font-size: 48px;
  flex-direction: column;
  align-items: left;
  font-weight: bold;
}

.userHeading div {
  color: var(--black);
}

.userHeading h3 {
  color: var(--olive);
}

@media (min-width: 575.98px) {

}

@media (min-width: 767.98px) {

}

@media (min-width: 991.98px) {
  .navbar {
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
}

@media (min-width: 1199.98px) {

}

@media (min-width: 1399.98px) {
  
}