.newPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 24px;
  margin-bottom: var(--navbar-height);
}

.expenseList {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  min-height: 100vh;
  margin-bottom: var(--navbar-height);
}

.expenseList h1 {
  font-size: 48px;
}

.dateContainer {
  color: var(--inactive);
  font-weight: bold;
  line-height: 24px;
  padding: 0px 8px;
  border-left: solid 8px var(--olive);
  border-radius: 4px;
}

/* When viewing specific record */
.expenseView {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  gap: 16px;
  margin-bottom: var(--navbar-height);
  min-height: calc(100vh - var(--navbar-height));
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.deleteButton,
.updateButton {
  width: 100%;
  padding: 16px 0px;
  border-radius: var(--border-radius-8);
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: solid 1px var(--light-green);
  filter: drop-shadow(0px 0px 3px var(--light-green));
}

.deleteButton {
  color: var(--dark-red);
  border: solid 1px var(--bright-red);
  background-color: var(--bright-red);
  filter: drop-shadow(0px 0px 3px var(--bright-red));
}
