.expenseList {
  --list-flex-direction: column;

  width: 100%;
  display: flex;
  flex-direction: var(--list-flex-direction);
  flex-wrap: wrap;
  gap: 24px;
}

.expenseList h1 {
  font-size: 48px;
}

.dateGroup {
  --date-group-padding: 0px;
  --date-group-box-shadow: none;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--date-group-padding);
  box-shadow: var(--date-group-box-shadow);
  border-radius: 8px;
}

.dateContainer {
  color: var(--inactive);
  font-weight: bold;
  line-height: 24px;
  padding: 0px 8px;
  border-left: solid 8px var(--olive);
  border-radius: 4px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.deleteButton,
.updateButton {
  width: 100%;
  padding: 16px 0px;
  border-radius: var(--border-radius-8);
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: solid 1px var(--light-green);
  filter: drop-shadow(0px 0px 3px var(--light-green));
}

.deleteButton {
  color: var(--dark-red);
  border: solid 1px var(--bright-red);
  background-color: var(--bright-red);
  filter: drop-shadow(0px 0px 3px var(--bright-red));
}

@media (min-width: 575.98px) {
}

@media (min-width: 767.98px) {
}

@media (min-width: 991.98px) {
  .expenseList {
    --list-flex-direction: row;
  }
  .dateGroup {
    --date-group-padding: 8px;
    --date-group-box-shadow: 2px 2px 3px var(--olive);
    max-width: 500px;
  }
  .buttonContainer {
    max-width: 500px;
  }
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1199.98px) {
}

@media (min-width: 1399.98px) {
}
