.expenseList {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    min-height: 100vh;
}

.expenseList h1 {
    font-size: 48px;
}

.expenseItem {
    width: 100%;
    /* The display would be flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    /* Set the background color to make it distinct */
    background-color: var(--box-white);
    border-radius: 8px;
}

.expenseIcon svg {
    color: var(--off-white);
    background-color: var(--dark-green);
    padding: 8px;
    border-radius: 8px;
}

.expenseIcon,
.expenseExpenditure {
    width: 20%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expenseExpenditure {
    font-size: 24px;
}

.expenseInformation {
    width: 60%;
}
.expenseInformation > * {
    width: 100%;
}
.expenseInformation h4 {
    font-size: 20px;
}

.categoryContainer {
    color: var(--inactive);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}

.dateContainer {
    color: var(--inactive);
    font-weight: bold;
    line-height: 24px;
    padding: 0px 8px;
    border-left: solid 8px var(--olive);
    border-radius: 4px;
}

