/* Heading */
.heading {
  width: 100%;
  text-align: left;
  color: var(--dark);
  font-size: 48px;
  font-weight: bold;
}

.heading p {
  width: 100%;
  color: var(--olive);
}

/* Graph box */
.graphBox {
  min-width: 90vw;
  min-height: 240px;
  background: linear-gradient(var(--olive), var(--fade-green));
  border-radius: 16px;

  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
}

.month {
  border-radius: 4px;
  width: 100%;
  margin: 8px;
  text-align: center;
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--off-white);
  font-weight: bold;
  width: 100%;
}

.monthBar {
  background-color: var(--light-green);
  width: 100%;
  margin: 4px 0px;
  border-radius: 8px;
}

/* Expense Item */

.expenseItem {
  width: 100%;
  /* The display would be flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  /* Set the background color to make it distinct */
  background-color: var(--box-white);
  border-radius: 8px;
}

.expenseIcon svg {
  color: var(--off-white);
  background-color: var(--dark-green);
  padding: 8px;
  border-radius: 8px;
}

.expenseIcon,
.expenseExpenditure {
  width: 20%;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currencyWhole {
  font-size: 24px;
}
.currencySymbol {
  font-size: 16px;
  position: relative;
  top: -0.2em;
}
.currencyDecimal {
  font-size: 12px;
  position: relative;
  bottom: -0.2em;
}

.expenseInformation {
  width: 60%;
}
.expenseInformation > * {
  width: 100%;
}
.expenseInformation h4 {
  font-size: 20px;
}

.categoryContainer {
  color: var(--inactive);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}

/* Loader */
/* HTML: <div class="loader"></div> */

.loader {
  width: 64px;
  aspect-ratio: 1;
  display: grid;
  border: 6px solid #0000;
  border-radius: 50%;
  border-right-color: var(--olive);
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

/* Loading Page */
.loadingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-size: 24px;
  min-height: 100vh;
  margin-bottom: var(--navbar-height);
}

.loadingPage h1 {
  animation: changeColor infinite 3s ease-in-out;
}

.loadingPage h1 span {
  color: var(--olive);
  font-size: 16px;
  text-transform: capitalize;
}

@keyframes changeColor {
  0% {
    color: var(--olive);
  }
  50% {
    color: var(--dark-green);
  }
  100% {
    color: var(--olive);
  }
}


/* The expense form */
.createExpenseForm {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.createExpenseForm input,
.createExpenseForm select {
  width: 100%;
  margin: 8px 0px;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: var(--border-radius-8);
  border: solid 1px #ddd;
  line-height: 30px;
  text-transform: capitalize;
}

.createExpenseForm button {
  width: 100%;
  padding: 16px 0px;
  border-radius: var(--border-radius-8);
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: solid 1px #ddd;
  filter: drop-shadow(0px 0px 3px var(--light-green));
}

.createExpenseForm fieldset {
  border: none;
  padding: 4px;
  line-height: 24px;
}

/* The pie chat */
.pieChart {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pieCircle {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  min-height: 80%;  
  width: 80%; /* Need a specific value to work */
  border-radius: 50%;
  background-color: var(--dark);

  text-align: center;
  color: var(--light-green);
  font-size: 16px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}

.pieCircle h4 {
  font-size: 32px;
}

.pieLegends {
  width: 100%;
  background-color: var(--fade-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legendPair {
  width: 100%;
  flex-grow: 1;
  padding: 8px;
}

.legendColor {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.legendName {
  font-size: 16px;
  color: var(--off-white);
}
