/* Expense Item */
.expenseItem {
  width: 100%;
  /* The display would be flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  /* Set the background color to make it distinct */
  background-color: var(--box-white);
  border-radius: 8px;
  border: var(--expense-border);
}

.expenseIcon svg {
  color: var(--off-white);
  background-color: var(--dark-green);
  padding: 8px;
  border-radius: 8px;
}

.expenseIcon,
.expenseExpenditure {
  width: 20%;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currencyWhole {
  font-size: 24px;
}
.currencySymbol {
  font-size: 16px;
  position: relative;
  top: -0.2em;
}
.currencyDecimal {
  font-size: 12px;
  position: relative;
  bottom: -0.2em;
}

.expenseInformation {
  width: 60%;
}
.expenseInformation > * {
  width: 100%;
}
.expenseInformation h4 {
  font-size: 20px;
}

.categoryContainer {
  color: var(--inactive);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}


@media (min-width: 575.98px) {
}

@media (min-width: 767.98px) {
}

@media (min-width: 991.98px) {
}

@media (min-width: 1199.98px) {
}

@media (min-width: 1399.98px) {
}
