.loader {

  --_color: var(--fade-green);

  width: 64px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, var(--_color) 90%,#0000);
  background: 
    var(--_g) 50%  0,
    var(--_g) 0    100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35%*1.154);
  animation: l16 1s infinite;
}
@keyframes l16{ 
    50%,100% {background-position: 100% 100%,50% 0,0 100%} 
}

/* Progress Loader */
.progressLoader {
  width: 124px;
  height: 24px;
  -webkit-mask: 
    conic-gradient(from 135deg at top   ,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 0   ,
    conic-gradient(from -45deg at bottom,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 100%;
  -webkit-mask-size:25% 50%;
  -webkit-mask-repeat:repeat-x;
  background: linear-gradient(var(--olive) 0 0) left/0% 100% no-repeat #ddd;
  animation: l13 2s infinite linear;
}
@keyframes l13 {
  100% {background-size: 100% 100%}
}

/* Loading Page */
.loadingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
  min-height: 100vh;
}

.loadingPage h1 {
  font-size: 56px;
  text-transform: capitalize;
  animation: changeColor infinite 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.loadingPage h1 span {
  color: var(--olive);
  font-size: 16px;
  text-transform: capitalize;
}

@keyframes changeColor {
  50% {
    color: var(--dark-green);
  }
  100%, 0% {
    color: var(--olive);
  }
}
